.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-logo {
    width: 128px;
    height: 128px;
    background-position: 0 0;
}

.sprite-selenium_ {
    width: 128px;
    height: 128px;
    background-position: -128px 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.image-container {
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* Acciendo a las clases del svg */

/* #my-bar {
    background-color: red;
    animation-name: toogleOpacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes toogleOpacity {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
} */

.flex-class {
    display: flex;
    justify-content: space-between;
}